fieldset {
    border-radius: 5px;
    width: 500px;
    border: 1px solid white;
    margin: 0;
}

legend {
    font-size: 15px;
    color: white;
}

#exampleDataList {
    width: 100%;
    border: none;
}

#exampleDataList:focus {
    outline: none;
}

input {
    background: transparent;
    font-size: 20px;
    color: white;
}

*::placeholder{
    color: rgb(182, 181, 181);
}

@media screen and (max-width: 600px) {
    fieldset {
        width: calc(100% - 30px);
    }
}